/* Background pattern from Subtle Patterns */
body {
    background: url(/img/wave.png) repeat 0 0 fixed;
    overflow: hidden;
}

/** NAV and FOOTER **/

nav{
    flex: 1 100%;
}

nav ul, footer ul {
    padding: 0px;
    margin-left: 20px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    position: absolute;
    bottom : 0;
}

/** ICONS **/

i {
    margin: 5px;
}

/** LINKS **/

a {
    text-decoration: none;
    color: #C0C0C0;
}
a:hover {
    text-decoration: underline;
}

/** HEADERS and PARAGRAPHS **/

h1 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

@media only screen and (max-width: 768px) {
    /* smaller text for smaller screens*/
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1em;
        line-height: 1em;
    }
}

/** LISTS **/

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/** IDS **/

#wolf{
    align-self: flex-end;
    height: 70%;
    max-width: 100%;
    margin-bottom: 10px;
    margin-right: 20px;
}

@media only screen and (max-width: 768px) {
    /* smaller wolf for smaller screens*/
   #wolf{
        height: 40%;
    }
}

#homeWrapper{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: 100%;
    margin-top: -30px;
}
/** CLASSES **/

/* Paragraph on home page */
.blurb{
    align-self: center;
}

/**
.flex {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
}
**/

.container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    position: absolute;
    bottom: 0;
}

/** FONTS **/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cantata One', serif;
}
p, div, a {
    font-family: 'Imprima', sans-serif;
}

/** 404 PAGE **/
#error404Wrapper{
    height: 100%;
    color: silver;
    display: flex;
    flex-direction: column;
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
}

#error404Wrapper h1, #error404Wrapper p, #error404Wrapper img{
    align-self: center;
}

#wolfGif{
    margin: 50px 0;
}

#moon0{
    width: 50px;
    height:50px;
    margin: 0 10px;
}
