.card {
    @media (min-width: 768px) {
        height: 360px;
        overflow: hidden;
    }
    & a {
        max-height: 50%;
         & img {
             height: 100%;
         }
    }

    & .card-body{
        @media (min-width: 768px) {
            height: 50%;
        }
        & .card-text {
            @media (min-width: 768px) {
                height: 60%;
                overflow-y: auto;
                margin: 0;
            }
        }

        & .btn {
            margin: 0;
            max-height: 20%;
            padding: 2px;
        }
    }
}