// Should add to 100%
$header-height: 5%;
$content-height: 90%;
$footer-height: 5%;
/*********************/

// Layers
$layer-0: 0; //background
$layer-1: 1; //modals and popups
$layer-2: 2; //images over layer-1
$layer-3: 3; //reserved for maximizing elements

// Colors
$main-color: #608FBF;
$second-color: lightgray;

$upper-gradient-color: #ec9c93;
$lower-gradient-color: $main-color;

$footer-color: $second-color;
$hover-color: $upper-gradient-color;

//$text-color: #777;
$text-color: $second-color;
