@import '_varibles';

$cross-width: 36px;
$cross-height: 30px;

.bm-cross-button {
    width: $cross-width !important;
    height: $cross-height !important;
    top: $cross-width !important;
    left: $cross-width !important;

    & > span:first-child {
      right: $cross-width !important;
    }

    & .bm-cross {
      background: $primary;
      margin-bottom: 200px;
      display: block;
      width: $cross-width !important;
    }

    &:hover {
      & .bm-cross {
        background: $accent;
      }
    }
}
  
.bm-burger-button {
    position: fixed;
    width: $cross-width;
    height: $cross-height;
    left: $cross-width;
    top: $cross-width;
}
.right .bm-burger-button {
    left: initial;
    right: 36px;
}
.bm-burger-bars {
    background: $secondary;
}
.bm-morph-shape {
    fill: $secondary;
}

.bm-menu-wrap {
    word-wrap: none;
}

.bm-menu {
    background: $secondary;

    & > nav:first-child {
        margin-top: $cross-width+50px;
        height: auto !important;
    }

    & .bm-item{
        color: $primary;
    }

    & a {
        text-decoration: none;

        &:hover, &:focus{
            color: /*#c94e50*/ $accent;
        }
    }

    & .bm-item-list {

        & a{
            padding: 0.8em;
            font-weight: 700;
            text-align: center;
        }
    }
}
 
.sideBar {
    @media screen and (min-width: $break-small){
        & .bm-item-list {
            top: 50%;
            transform: translateY(50%);
        }
    }

    @media screen and (max-width: $break-small){

        & .bm-burger-button {
            width: $cross-width/2;
            height: $cross-height/2;
        }

        & + div {
            position: relative;
            height: $cross-width + 50px;
        }
    }
}

svg {
    background: linear-gradient(135deg, #aa3bb1, #582a7e);
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 30px 50px -20px rgb(46, 6, 66);
    
    & text { 
        opacity: 0;
      //display: none;
      font-family: Arial, sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      //display: block;
    }
        & text {
        fill: none;
        stroke: #51256f;
        stroke-width: 2.8px;
        stroke-dashoffset: -900;
        stroke-dasharray: 900;
        stroke-linecap: butt;
        stroke-linejoin: round;
        animation: dash 2.5s ease-in-out forwards;
      }
      & text:nth-child(2) {
        animation-delay: .3s;
      }
      & text:nth-child(3) {
        animation-delay: .9s;
      }
      & text {
        stroke: #f6bdfa;
        animation-delay: 1.2s;
      }
      & text:nth-child(5) {
        animation-delay: 1.5s;
      }
      & text:nth-child(6) {
        animation-delay: 1.8s;
      }
  }
  
  @keyframes dash {
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  .reload {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #fff;
    border: none;
    border-radius: 20px;
    outline: none!important;
    font-size: 11px;
    line-height: 1.5;
    padding: 8px 12px;
    text-transform: uppercase;
    z-index: 10;
    cursor: pointer;
    box-shadow: 0 6px 7px #350e4c;
    transition: all .1s cubic-bezier(.67, .13, .1, .81);
    &:hover {
      box-shadow: 0 4px 4px #350e4c;
      transform: translateY(1px);
    }
    &:active {
      box-shadow: 0 1px 2px #244B94;
      transform: translateY(2px);
    }
    svg {
      vertical-align: middle;
      position: relative;
      top: -2px;
    }
  }